* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #E0E0E0;
  color: #676A8B;
  font-family: sans-serif;
  user-select: none;
}

main {
  display: grid;
  text-align: center;
  justify-items: center;
  margin: auto;
}

#typing-div {
  margin-bottom: 10px;
  padding: 5px;
}

#typing-text {
  font-family: monospace;
  position: relative;
}

#typing-text::before,::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#typing-text::before {
  content: '';
  background-color: #E0E0E0;
  animation: typing 6s steps(13) 1s forwards;
}

#typing-text::after {
  content: '';
  background-color: black;
  min-width: 2px;
  max-width: 2px;
  animation: cursor 6s steps(13) 1s forwards, blink 750ms ease infinite;
}

#root {
  padding: 30px;
}

#timing-info {
  padding: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  width: 35vw;
  min-width: 370px;
  border-radius: 100px;
  box-shadow: 0px 0px 6px 6px gray;
}

.timing-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: auto;
}

.time-control {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

#break-label {
  padding: 5px;
}

#session-label {
  padding: 5px;
}

/* Button IDs should be here if you need them! */

#break-length {
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

#session-length {
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.transparentButton {
  background-color: transparent;
  padding: 5px;
  justify-self: center;
  align-self: center;
  border: none;
  transition: 0.5s;
  width: 40px;
  border-radius: 50px;
  box-shadow: 0px 0px 1px 1px gray;
}

.transparentButton:hover {
  box-shadow: 0px 0px 4px 4px gray;
}

i {
  color: #5C5E7C;
  transition: 0.2s;
}

#timer-info {
  padding: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 100px;
  box-shadow: 0px 0px 6px 6px gray;
}

#time-control2 {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  box-shadow: 0px 0px 6px 6px gray;
}

#start_stop {
  margin: auto;
  width: 80px;
}

#reset {
  margin: auto;
}

@keyframes typing {
  to {
    left: 100%;
  }
}

@keyframes cursor {
  to {
    left: 100%;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  
  50% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}
